
*{
    margin:0;
    padding:0;
    list-style: none;
}



.Navigation-Bar{

    width: 100vw;
    height: 100px;
    background-color: rgb(255, 0, 0);
    color: black;
    overflow: visible;
    margin-left: 14.8%;
    position: absolute; 
    display: grid;    
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: repeat(5, 1fr);

}

.Story-Bar{
        width: 100vw;
        height: 100px;
        margin-top: 0;
        margin-left: 10%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: absolute;
        top: 0;
        background-color:transparent;
    
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: darkorange;

}


.sidebar{
    position: relative;
    top: 0;
    width: 200px;
    height: 100vh;
    border: 1px rebeccapurple solid;
    background-color: aqua;
    z-index: 2;
    
}


.sidebar ul{
    font-weight: 200;
    display: grid;
    gap: 44%;
    margin-left: 30px;
    margin-top: 50px;
}
